[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = {version = "==0.62.0", extras = ["all"]}
aiohttp = "*"
feedparser = "==6.0.2"
beautifulsoup4 = "==4.9.3"

[requires]
python_version = "3"
